<!doctype html>
<html>
  <head>
    <title>Chat Game</title>
    <link rel="stylesheet" type="text/css" href="./style/style.css" />
    <script src="./scripts/jquery-1.11.1.js"></script>  
    <script src="./scripts/socket.io-1.2.0.js"></script>
    <script src="./scripts/person.js"></script>
    <script src="./scripts/server.js"></script>    
    <script>
        $(document).ready(function(){
            //Start person and server with the personId catcheded from main file
            roomServer.start(person.start('<%=person.userId + person.user%>','<%=person.posX%>','<%=person.posY%>'),
            {
                chatRoom : $("#chatRoom"),
                roomId : $("#roomId").val()
            });
            
            $(window).keydown(function(x){ person.getKeyMove(x);});

            $('form').submit(function(){
                   person.talk($("#textMessage").val());
                   $("#textMessage").val('');
                   return false;
            });  
        });
        
    </script>
  </head>
  <body>
    <main>      
        <div>
          <div id="chatRoom">
          </div>
          <div id="listUsers">
              <h1>Histórico de Mensagens</h1>\
              <div>
                <ul>                    
                </ul>                  
              </div>
          </div>          
        </div>
        <div class="panelSendMessage">
          <form action="">
            <input id="textMessage" maxlength="100" autocomplete="off" type="text"/>
            <button>Send</button>
          </form>    
          <input id="roomId" name="roomId" type="hidden" value="<%=chatRoom.id %>" />          
        </div>
    </main>
  </body>
</html>